.transactions {
  margin-top: 50px;
}

.transaction {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  width: 70%;
  margin: auto;
}

.transaction p,
.transaction a {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 30px;
}
.transactions h5 {
  width: fit-content;
  height: fit-content;
  font-size: 60px;
  font-style: italic;
  margin: auto;
  margin-bottom: 40px;
}
